parameters:
    level: 9
    phpVersion: 80200 #8.2
    reportUnmatchedIgnoredErrors: false
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    editorUrlTitle: '%%file%%:%%line%%'
    tmpDir: .cache/phpstan
    checkExplicitMixedMissingReturn: true
    reportAlwaysTrueInLastCondition: true
    paths:
        - src/
        - test/
        - script/
    excludePaths:
        - vendor/
        - .cache/ (?)
